<h1> Welcome back <%= @user.username %> <h1>

	<h3> tweet to the world <h3>
<form id="myForm" action="/welcome" method="POST">
	<textarea id="#tweet_area" name="tweet_area"></textarea>
	<input type="submit" value="Tweet"/>
  <span class="success"></span>
</form>
 <p>
  <button><a href="/sign_out">Sign Out</a></button>
   <span class="waiting"><img src="/ajax-loader.gif"> </span>
 </p>

